@model IEnumerable<StudentAttendace.Models.DbModels.Group>;

@{
    Layout = "_LayoutAdmin";
}

<div class="container-fluid mt-5 pt-3 px-0">
    <div class="row">
        <div class="col">
            <input id="searchQuery" class="form-control border-0 rounded py-2" placeholder="Ieškoti"/>
        </div>
        <div class="col d-flex justify-content-end">
            <a asp-controller="Admin" asp-action="CreateGroup" class="nav-link border-0 rounded custom-bg-darkblue text-light p-2">Pridėti</a>
        </div>
    </div>
</div>
<div id="group-list-container" class="container-fluid my-5 custom-bg-blue pb-2 rounded">
    <div class="row mb-2">
        <p class="py-2">Grupės</p>
    </div>
    @{
        foreach (var groups in Model)
        {
            <div class="group-item row mx-2 custom-bg-lightblue rounded mb-2">
                <div class="col">
                    <p class="my-2">@groups.GroupName</p>
                </div>
                <div class="col d-flex justify-content-end">
                    <form method="post" asp-controller="Groups" asp-action="DeleteGroup" asp-route-groupId="@groups.GroupID">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <button type="submit" class="border-0 rounded custom-bg-darkblue text-light my-2">Šalinti</button>
                    </form>
                </div>
            </div>
        }
    }
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const searchInput = document.getElementById('searchQuery');
        const groupItems = document.querySelectorAll('.group-item');
        const noResultsMessage = document.createElement('p');

        noResultsMessage.textContent = 'Nerasta įrašų';
        noResultsMessage.style.display = 'none';

        document.getElementById('group-list-container').appendChild(noResultsMessage);

        searchInput.addEventListener('input', function () {
            const query = this.value.toLowerCase();
            let anyVisible = false;

            groupItems.forEach(item => {
                const text = item.textContent.toLowerCase();

                if (text.includes(query)) {
                    item.style.display = '';
                    anyVisible = true;
                } else {
                    item.style.display = 'none';
                }
            });

            noResultsMessage.style.display = anyVisible ? 'none' : '';
        });
    });

</script>
